.div1 {
    
    text-align: center;
    border: 3px solid #1E90FF;
    border-radius: 15px;
    margin:auto;
    background-color: #E0FFFF;
    width:600px;
    height:300px;
}
.input {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: 	#F0FFFF;
}
.input1 {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: 	#F0FFFF;
    width:300px;
}
.submit {
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: 	#DC143C;
    
}
.div2 {
    position:relative;
    left:-150px;
}
.div3 {
    position:relative;
    left: 270px;
    bottom:180px;
    height:0px;
    width:250px;
    
}
.div4 {
    
    text-align: center;
    border: 3px solid #1E90FF;
    border-radius: 15px;
    margin:auto;
    background-color: #E0FFFF;
    width:600px;
    height:950px;
    
    
}
.div5 {
    margin:auto;
}
.obvestilo1 {
    
    
    background-color: #7FFFD4;
    border-radius:15px;
    position: relative;
    left:0px;
    top:20px;
    width:360px;
    height: 40px;
}
.obvestilo2 {
    
    
    background-color: #FFD700;
    border-radius:15px;
    position: relative;
    left:0px;
    top:20px;
    width:360px;
    height: 40px;
    
}
.graf1 {
    position:relative;
    left:370px;
    bottom:20px;
    background-color:#DC143C;
    width:220px;
    border-radius:15px;
    height:40px;
    
}
.graf2 {
    position:relative;
    left:370px;
    bottom:20px;
    background-color:#7FFF00;
    width:220px;
    border-radius:15px;
    height:40px;
    
}
.graf3 {
    position:relative;
    left:370px;
    bottom:20px;
    background-color:#DC143C;
    width:220px;
    border-radius:15px;
    height:40px;
    
}
.napaka {
    position:relative;
    left:20px;
    bottom:100px;
    width:150px;
    height:40px;
    border-radius:15px;
    border-color:#000000;
    background-color:#FFD700;
}
.uspesno {
    position:relative;
    left:0px;
    bottom:100px;
    width:190px;
    height:40px;
    border-radius:15px;
    border-color:#000000;
    background-color:#ADFF2F;
}
.opozorilo {
    
    line-height: 1.0;
}